/* Déplacé Maison settings */
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anek+Telugu:wght@100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=League+Gothic&display=swap');
:root {
  /* Déplacé Maison settings */
  --dm-white: #fcf9ee;
  --dm-yellow: #ddc92a;
  --dm-peach: #e7d6c4;
  --dm-black: #141414;
  /* --dm-sans-font: 'Anek Telugu', sans-serif; */
  --dm-sans-font: 'Syne', sans-serif;
  --dm-script-font: 'Permanent Marker', cursive;
  --dm-display-font: 'League Gothic', sans-serif;
  --dm-stroke-weight: 3px;
  --dm-max-width: 800px;
  --dm-padding: 0 1rem;
}

body {
  background: var(--dm-white);
  margin: 0;
}

a {
  color: var(--dm-black);
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

.button-detail {
  fill: var(--dm-black);
  stroke-width: 0px;
}

.button-wrapper {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 8px;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding: var(--dm-padding);
}

.grid-item {
  max-width: var(--dm-max-width);
}
